<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IronHack Website</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>My articles</h1>
	<ul>
	  {{#each liste}}
	    <li>{{name}} : {{price}}€</li>
	  {{/each}}
	</ul>
</body>
</html>