<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IronHack Website</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h4>Hello {{firstname}} {{lastname}}, Nice to meet you !</h4>
	{{#if lastName}}
	    <h2>There is a lastname</h2>
	{{/if}}
	<h4>B.R</h4>
	<img src="http://myserve.com/" alt="">
</body>
</html>